<div class="panel-body">

    <div align="center" style="padding-bottom: 20px; padding-top: 20px; padding-left: 20px; padding-right: 20px; text-align: justify">
        <p>We are glad to see your interest in opening an account with us. Bushido is now in pre-launch and invite-only phase. If you'd like to sign up, please request a Trial Code by writing an email to <a href="mailto:bushido@riaforge.co.uk">bushido@riaforge.co.uk</a></p>
        <p>If you have a Trial Code handy, please continue.</p>
    </div>
    <button style="background-color: #0978b8" ng-click="code()"class="btn btn-lg btn-success btn-block">Continue</button>

</div>