<div class="panel-body">

    <form role="form" novalidate>
        <fieldset>
            <div class="form-group">
                <label>PIN</label>
                <input class="form-control" ng-model="pin" placeholder="Enter PIN">
                <p class="help-block">Type in between 4 and 10 digits as a PIN to secure your money.</p>
            </div>
            <div class="alert alert-warning" role="alert" style="text-align: justify">Please save your PIN and keep it safe. We use it to authenticate you and encrypt sensitive data related to your wallets. There is no way to recover it if forgotten. Loosing your PIN implies lost access to your account, wallets and any money in them.</div>
            <button style="background-color: #0978b8" ng-click="doSetPin()"class="btn btn-lg btn-success btn-block">Set PIN</button>
        </fieldset>
    </form>
    <br ng-show="pinError"/>
    <div ng-show="pinError" style="color: #a94442" align="center">{{errorMessage}}</div>

</div>