<div class="panel-body">
    <form name="passFrm" id="passFrm" role="form">
        <fieldset>
            <div class="form-group">
                <input class="form-control" ng-model="newpass" placeholder="New Password" id="newpass" name="newpass" type="{{inputType}}">
                <p class="help-block">Use between 10 and 50 characters, at least one digit, at least one upper case.</p>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="newpass2" placeholder="Confirm New Password" id="newpass2" name="newpass2" type="{{inputType}}">
                <p class="help-block">Type the same password again to confirm it.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input checked type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()"/>Show password
                </label>
            </div>
            <button ng-model="button" ng-disabled="bdisabled" ng-click="doReset()" id="reset" class="btn btn-primary btn-lg btn-block">Submit</button>
            <br ng-show="reseterror"/>
            <p class="alert alert-danger" ng-show="reseterror">Password reset failed. Try again.</p>
        </fieldset>
    </form>
</div>